@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  color: #1659bf;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  counter-reset: nav1;
}
button.btn {
  background-color: #1659bf;
  color: white;
}
main {
  margin-top: 40px;
  margin-bottom: 40px;
}
.container {
  padding-right: 0px;
  padding-left: 0px;
}
/* alterando o grip para 960 */
@media (min-width: 1200px) {
  .container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 960px;
  }
}
.col-1 {
  width: 47.2%;
  margin-top: 30px;
  float: left;
}
.col-2 {
  width: 72.1%;
  float: left;
}
.col-one,
.col-two {
  width: 15.625%;
  float: left;
}
.col-two {
  width: 79.75%;
}
.remove-margin {
  margin: 0px;
}
aside {
  float: left;
  width: 23.8%;
  position: relative;
}
#portal-breadcrumbs {
  margin-bottom: 19px;
  text-transform: uppercase;
  font-size: 10px;
}
#portal-breadcrumbs a {
  color: #2C66CE;
}
.title-header {
  border-top: 4px solid #1659bf;
  background: #eeeff1;
  padding: 6px 15px;
  padding-right: 0px;
  color: #2160BD;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #1659bf;
  border-color: #1659bf;
}
.espace-left {
  margin-left: 30px;
}
.espace-right {
  margin-right: 30px;
}
.espace-top {
  margin-top: 30px;
}
.portletHeader {
  border-top: 4px solid #1659bf;
  color: #1659bf;
  margin: 0;
  padding: 8px 8px 24px 10px;
  border-bottom: none;
  background: #edeff1;
  text-transform: uppercase;
  font-weight: bold;
}
.navTree li {
  border-top: 1px solid #dfdfdf;
  border-bottom: none;
  padding: 6px 0px 6px 20px;
}
.navTree li a {
  color: black;
}
.navTree li a:first-child {
  display: block;
  width: 113%;
  margin-left: -19px;
  padding-left: 20px;
  padding-bottom: 4px;
}
.sub-navTree {
  margin: 0px;
  margin-left: -20px;
  padding: 0px;
}
.sub-navTree li {
  color: #8c8989;
  margin-left: 15px;
  border-top: none;
}
.sub-navTree li a {
  color: #8c8989;
}
.sub-navTree li a:hover {
  color: black;
}
/* ------------------- Carousel Styling ------------------- */
.carousel-inner {
  border-radius: 15px;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}
.carousel-caption h2 {
  font-family: Arial, Verdana, sans-serif;
  font-size: 1.45em;
}
.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.bt-explication a {
  display: block;
}
.portalseachbox {
  margin-top: 20px;
  position: relative;
}
.portalseachbox .form-control {
  padding-right: 30px;
}
.portalseachbox .form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 10px;
  color: #1659bf;
}
.bt-search {
  margin-left: 16px;
  background: #1659bf;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.table1 td:last-child {
  text-align: center;
}
.table1 > tbody > tr > td {
  vertical-align: middle;
}
.perf-user {
  float: right;
  margin-top: 10px;
}
.perf-user button {
  float: right;
}
.form-row {
  margin-bottom: 18px;
}
.menu-title-header {
  margin-bottom: 0px;
  margin-top: -7px;
}
.menu-title-header li {
  display: inline;
  border-right: 1px solid #2160BD;
  padding: 0 28px;
  font-weight: 400;
}
.menu-title-header li:first-child {
  padding-left: 0px;
}
.menu-title-header li:last-child {
  border-right: none;
}
.ds-dados {
  padding: 15px 0;
}
.ds-dados .form-group {
  margin-bottom: 4px;
}
.ds-dados .form-group label {
  color: #4E4E4E;
}
/* ==========================================================================
 Cabeçalho
 ========================================================================== */
header {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
header .top {
  padding: 14px 0 0 0;
  background-color: #1659bf;
}
header .top a {
  color: #dcecff !important;
}
header .top nav ul {
  list-style: none;
  float: left;
  width: 50%;
  font-size: 10px;
}
header .top nav ul li {
  display: inline;
}
header .top nav ul li::after {
  background: white;
  color: #2d2e82;
  counter-increment: nav1;
  content: counter(nav1);
  padding: 1px 3px;
  margin-right: 8px;
}
header .top #portal-siteactions {
  border-bottom: 1px dotted #6893cb;
  list-style: none;
}
header .top #portal-siteactions li {
  display: inline;
  margin-right: 0.5em;
  text-transform: uppercase;
  font-size: 10px;
}
header .top #portal-siteactions li a {
  padding: 4px 0 4px 10px;
  text-decoration: none;
}
header .top #portal-siteactions {
  display: block;
  float: right;
  clear: none;
  padding-bottom: 2px;
  font-size: 0.93em;
  text-align: center;
}
header .top #logo {
  float: left;
  padding: 0;
  color: white;
  position: relative;
}
header .top #logo span {
  position: absolute;
  display: block;
  line-height: 1em;
}
header .top #logo #portal-title {
  margin: 0;
  margin: 20px 0 46px;
  color: #fff;
  font-size: 2.8em;
  font-family: 'Open Sans' Arial, Helvetica, sans-serif;
  font-weight: 800;
  line-height: 1em;
}
header .sub-top {
  clear: both;
  margin: 0;
  padding: 5px 0;
  max-width: 100% !important;
  line-height: 20px;
  background: #0f4098;
}
header .sub-top ul {
  margin: 0 auto;
  max-width: 960px;
  text-align: right;
  line-height: 20px;
}
header .sub-top ul li {
  display: inline;
  border-right: 1px solid white;
  margin-right: 10px;
  padding-right: 10px;
}
header .sub-top ul li:last-child {
  margin-right: 0px;
  border-right: none;
}
header .sub-top ul li a {
  color: white;
}
header .sub-top ul li a:hover {
  text-decoration: underline;
}
/* ==========================================================================
 fim do Cabeçalho
 ========================================================================== */
/* ==========================================================================
 footer
 ========================================================================== */
footer {
  color: white;
  padding: 20px 0;
  padding-bottom: 5px;
  min-height: 50px;
}
footer a {
  color: white;
}
footer a:hover {
  color: white;
}
footer .doormatSection {
  border-left: 1px dotted #fff;
  padding-left: .4em;
}
footer .doormatSection dt {
  padding-left: .7em;
  font-size: 1.2em;
}
footer .doormatSection dd {
  padding: .5em 1.2em 0 1em;
}
footer .content {
  background: #1659bf;
  width: 100%;
  padding: 20px 0;
}
footer > .container {
  margin-top: 20px;
}
footer .footer-logos {
  background: #0042b1;
  padding: 2em 0;
  max-width: 100%;
}
footer .extra-footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .extra-footer .container img {
  margin-top: 10px;
}
footer .doormatColumn {
  width: 22%;
  float: left;
}
/* ==========================================================================
fim do footer
========================================================================== */
@media only screen and (max-width: 768px) {
  .index main .col-2,
  .forca-trabalho main .col-2,
  .col-one,
  .col-two {
    width: 100%;
    float: none;
  }
}
@media only screen and (max-width: 600px) {
  header .top nav ul {
    width: 100%;
  }
  .index main .col-1 {
    width: 100%;
  }
  .portalseachbox {
    float: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .menu-title-header li {
    display: block;
    padding: 10px 0;
  }
  footer .doormatColumn {
    float: none;
  }
}
