
@media only screen and (max-width: 1382px) {

}


@media only screen and (max-width: 992px) {

}


@media only screen and (max-width: 768px) {
  .index main .col-2 , .forca-trabalho main .col-2 , .col-one , .col-two {
      width: 100%;
      float: none;
  }

}

@media only screen and (max-width: 600px) {
  header .top nav ul {
    width: 100%;
  }
  .index main .col-1 {
    width: 100%;
  }
  .portalseachbox {
    float: none !important;
  }




}

@media only screen and (max-width: 480px) {
  .menu-title-header li {
    display: block;
    padding: 10px 0;
  }
  footer .doormatColumn {
    float: none;
  }
}
